.testContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  margin-top: 100px;
}
.uploading{
  width: 100%;
  height: 100%;
  text-align: center;
  color: #F6D860;
  font-size: 5em;
}
.uploaded{
  width: 100%;
  height: 100%;
  text-align: center;
  color: #95CD41;
  font-size: 5em;
}
.error{
  width: 100%;
  height: 100%;
  text-align: center;
  color: #F90716;
  font-size: 5em;
}